@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
/* General Styles */

* {
  padding: 0;
  margin: 0;
  color: var(--white);
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

:root {
  --dark-black: #111519;
  --black: #212529;
  --light-black: #343a40;
  --lighter-black: #495057;
  --gray: #adb5bd;
  --red: #c70039;
  --white: #fdfffc;
  --main-transition: cubic-bezier(0.43, 0.13, 0.23, 0.96);
}

.breaker {
  height: 300vh;
  width: 120%;
  opacity: 1;
  display: none;
  z-index: 10;
  transform: rotate(15deg);
  position: fixed;
  transform: translateY(-100%);
  background-color: var(--red);
  animation: breakeranimate 2s linear;
}

.breaker.active {
  display: block;
}

@keyframes breakeranimate {
  0% {
    transform: translateX(-150%) rotate(15deg) translateY(-50%);
  }
  50% {
    transform: translateX(0%) rotate(15deg) translateY(-50%);
  }
  100% {
    transform: translateX(150%) rotate(15deg) translateY(-50%);
  }
}

.cursor {
  width: 50px;
  height: 50px;
  border: 1px solid var(--white);
  z-index: 1000;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
  transform: translate3d(var(--x), var(--y), 0);
}

@media screen and (max-width: 768px) {
  .cursor {
    display: none;
  }
}

.text__red {
  color: var(--red);
}

.section__title {
  font-size: 2.5rem;
}

.section__subtitle {
  font-size: 1.8rem;
}

.section__text {
  font-size: 1.7rem;
  color: var(--gray);
}

.img {
  width: 100%;
}

.btn__outline-red {
  border: 1px solid var(--red);
  padding: 10px 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.btn__outline-red span {
  position: relative;
  color: var(--red);
  z-index: 1;
  transition: color 0.4s var(--main-transition);
}

.btn__outline-red::before {
  content: "";
  width: 0;
  height: 0;
  background-color: var(--red);
  position: absolute;
  top: var(--y);
  left: var(--x);
  border-radius: 50%;
  transition: width 0.4s var(--main-transition),
    height 0.4s var(--main-transition);
  transform: translate(-50%, -50%);
}

.btn__outline-red:hover::before {
  width: 300px;
  height: 300px;
}

.btn__outline-red:hover span {
  color: var(--white);
}

/* Navbar */

.navbar {
  background-color: var(--black);
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.nav__brand {
  font-size: 1.5rem;
  font-weight: 100;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

.nav__toggler {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__toggler-line__one,
.nav__toggler-line__two,
.nav__toggler-line__three {
  background-color: var(--white);
  margin: 5px 0;
  margin-left: auto;
  transition: width 0.4s var(--main-transition);
}

.nav__toggler-line__one {
  width: 18px;
  height: 2px;
}
.nav__toggler-line__two {
  width: 24px;
  height: 2px;
}
.nav__toggler-line__three {
  width: 30px;
  height: 2px;
}

.nav__toggler:hover .nav__toggler-line__one,
.nav__toggler:hover .nav__toggler-line__two,
.nav__toggler:hover .nav__toggler-line__three {
  width: 30px;
}

@media screen and (max-width: 500px) {
  .nav__brand {
    font-size: 1.1rem;
  }
}
/* Navbar Modal */

.modal {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-black);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
}

.modal__toggler {
  position: absolute;
  top: 23px;
  right: 5vw;
  cursor: pointer;
}

.modal__toggler-line {
  width: 30px;
  height: 2px;
  margin: 5px 0;
  transition: all 0.4s var(--main-transition);
  background-color: var(--white);
  opacity: 1;
  border-radius: 20px;
}

.modal__toggler:hover .modal__toggler-line:nth-child(1) {
  transform: rotate(30deg) translateX(5px) translateY(5px);
}

.modal__toggler:hover .modal__toggler-line:nth-child(2) {
  transform: translate(-10px);
  opacity: 0;
}

.modal__toggler:hover .modal__toggler-line:nth-child(3) {
  transform: rotate(-30deg) translateX(5px) translateY(-5px);
}

.modal__links {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--white);
}

.modal__links::after {
  content: attr(data-text);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 80px;
  white-space: nowrap;
  pointer-events: none;
  font-size: 7rem;
  opacity: 0;
  text-transform: uppercase;
  font-family: "Monoton", cursive;
  transition: all 0.6s var(--main-transition);
}

.modal__links:hover::after {
  opacity: 0.2;
  letter-spacing: 0px;
}

@media screen and (max-width: 767px) {
  .modal__links::after {
    font-size: 5rem;
  }
  .modal__links {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .modal__links::after {
    font-size: 3rem;
  }
  .modal__links {
    font-size: 1.5rem;
  }
}

/* Home section */

.home {
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100%;
}

.header__title {
  font-size: 5rem;
  text-align: center;
}

.header__subtitle {
  position: relative;
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 0 10px;
  z-index: 1;
  font-weight: 300;
}

.header__subtitle::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  left: 0;
  height: 100%;
  transition: width 0.4s var(--main-transition);
  width: 1px;
  background-color: var(--red);
}

.header__subtitle::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  height: 100%;
  width: 1px;
  transition: width 0.4s var(--main-transition);
  background-color: var(--red);
}

.header__subtitle:hover::after {
  width: 50%;
}

.header__subtitle:hover::before {
  width: 50%;
}
.header__links,
.header__contact {
  font-size: 1.5rem;
  cursor: pointer;
}

.header__icons-responsive {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__contact {
    display: none;
  }

  .header__links {
    display: none;
  }

  .header__icons-responsive {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
    font-size: 1.5rem;
  }

  .header {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .header__title {
    font-size: 3rem;
  }
}

/* About Section */

.about {
  background-color: var(--black);
}

.about__inner {
  width: 90%;
  margin: auto;
}

/* Header */

.about__header {
  text-align: center;
  padding: 50px 0;
}

.about__header h5 {
  font-weight: 300;
  font-size: 1rem;
}

/* Content */

.about__content {
  text-align: center;
  gap: 20px;
  padding: 10px 0;
}

.about__content p {
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .about__content {
    flex-direction: column;
  }
}

/* Services */

.about__services {
  text-align: center;
}

.about__services h3 {
  margin: 50px 0;
}

.services__cards-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.services__card {
  flex: 30%;
  min-width: 250px;
  padding: 30px;
  border-radius: 20px;
  background: var(--light-black);
  margin: 10px;
  overflow: hidden;
}

.services__subtitle {
  margin: 20px 0;
}

.services__text {
  font-weight: 300;
  color: var(--gray);
}

.services__img {
  background: var(--red);
  border-radius: 20px;
  box-shadow: 0 0 0 0 var(--red);
  padding: 10px;
  transition: box-shadow 0.6s var(--main-transition);
  margin: 20px 0;
}

.services__card:hover .services__img {
  box-shadow: 0 0 0 400px var(--red);
}

/* Skills */

.about__skills {
  padding: 50px 0;
}

.about__skills h3 {
  text-align: center;
  margin: 30px 0;
}

.skills__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.about__skills .skill {
  font-size: 3rem;
  background-color: var(--light-black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  position: relative;
  font-weight: 100;
  border-radius: 20px;
}

.about__skills .skill::after {
  content: attr(data-text);
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--red);
  border-radius: 10px;
  font-size: 1rem;
  padding: 5px 10px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s var(--main-transition);
}

.about__skills .skill::before {
  content: "";
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--red);
  transform: translate(-50%, -50%);
  transition: opacity 0.3s var(--main-transition);
}

.about__skills .skill:hover::after,
.about__skills .skill:hover::before {
  opacity: 1;
}

/* Portfolio */
.portfolio {
  background-color: var(--black);
  padding-bottom: 10px;
}

.portfolio__header {
  padding: 50px 0 0;
  text-align: center;
}

.portfolio h5 {
  font-size: 1rem;
  font-weight: 300;
}

.portfolio__work-container {
  width: 90%;
  margin: auto;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__img {
  flex: 30%;
  max-height: 400px;
}

.work__img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.work__content {
  background-color: var(--dark-black);
  flex: 30%;
  border-bottom: 1px solid var(--red);
  padding: 0 40px;
  margin-left: -150px;
  margin-top: 200px;
}

.work__content h3 {
  margin: 30px 0;
}

.work__content p {
  margin: 30px 0 0;
  display: inline-block;
}

.work__content a {
  margin: 30px 0;
}

@media screen and (max-width: 768px) {
  .portfolio__work-container {
    flex-direction: column;
  }
  .work__content {
    background-color: var(--dark-black);
    padding: 0 20px;
    margin: 0;
  }

  .work__img {
    width: 100%;
  }
}

/* Footer */

.footer {
  background-color: var(--dark-black);
  text-align: center;
}

.footer__text {
  font-size: 1.2rem;
  font-weight: 100;
  letter-spacing: 2px;
  padding: 10px 0;
}
